<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>PSIH Warm Fuzzies</title>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
   <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
       <link href="/style.css" rel="stylesheet" type="text/css">

    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
 

</script>

  </head>

  <body>


<div id="banner">
    <div class="home-sticky"> 
        <h1> Penn Social Impact House 2014 </h1>
    </div>


    <div class="home-sticky picture"> 
    </div>

    <div class="home-sticky instructions"> 
        <p> Instructions: Pick someone. Write something. </p>
    </div>


</div>



<div id="home-container" class="home-sticky sticky-form">


  <form action="/submit" method="POST" id="form_one">

       <p> Dear </p> 

      <select name="recipient">
        <option value="blank">__________,</option>
        <option value="dhruv">Dhruv,</option>
        <option value="kristyn">Kristyn,</option>
        <option value="olivia">Olivia,</option>
        <option value="aaron">Aaron,</option>
        <option value="tan">Tan,</option>
        <option value="marvis">Marvis,</option>
        <option value="hannah">Hannah,</option>
        <option value="arielle">Arielle,</option>
        <option value="casey">Casey,</option>
        <option value="maryam">Maryam,</option>
        <option value="adriana">Adriana,</option>
        <option value="diana">Diana,</option>
        <option value="lindsay">Lindsay,</option>
        <option value="luke">Luke,</option>
        <option value="thammika">Thammika,</option>
        <option value="jiawen">Jiawen,</option>
        <option value="stefan">Stefan,</option>
        <option value="risha">Risha,</option>
        <option value="eric">Eric,</option>
        <option value="patricia">Patricia,</option>
        <option value="james">James,</option>
        <option value="shengwei">Shengwei,</option>
        <option value="cosmo">Cosmo,</option>
        <option value="hannah c.">Hannah C.,</option>
        <option value="scott">Scott,</option>
        <option value="peter">Peter,</option>
        <option value="sarita">Sarita,</option>
        <option value="kaveh">Kaveh,</option>
        <option value="jonathan">Jonathan,</option>
        <option value="gray">Gray,</option>
        <option value="hannah l.">Hannah L.,</option>


      </select> <br />

    
    <textarea name="text" form="form_one" id="textarea"></textarea>
    <br />

  <div id="signature">
    Love, 
    <br />


      <select name="author">
        <option value="blank">____________</option>
        <option value="secret admirer"> Secret Admirer </option>
        <option value="dhruv">Dhruv,</option>
        <option value="kristyn">Kristyn,</option>
        <option value="olivia">Olivia</option>
        <option value="aaron">Aaron</option>
        <option value="tan">Tan</option>
        <option value="marvis">Marvis</option>
        <option value="hannah">Hannah</option>
        <option value="arielle">Arielle</option>
        <option value="casey">Casey</option>
        <option value="maryam">Maryam</option>
        <option value="adriana">Adriana</option>
        <option value="diana">Diana</option>
        <option value="lindsay">Lindsay</option>
        <option value="luke">Luke</option>
        <option value="thammika">Thammika</option>
        <option value="jiawen">Jiawen</option>
        <option value="stefan">Stefan</option>
        <option value="risha">Risha</option>
        <option value="eric">Eric</option>
        <option value="patricia">Patricia</option>
        <option value="james">James</option>
        <option value="shengwei">Shengwei</option>
        <option value="cosmo">Cosmo</option>
        <option value="hannah c.">Hannah C.,</option>
        <option value="scott">Scott</option>
        <option value="peter">Peter</option>
        <option value="sarita">Sarita,</option>
        <option value="kaveh">Kaveh,</option>
        <option value="jonathan">Jonathan,</option>
        <option value="gray">Gray,</option>
        <option value="hannah l.">Hannah L.,</option>
        <option value="ben cole">Ben Cole,</option>


      </select>

  </div>

    <input id="submit" type="submit" />


  </form>
</div>


    <div class="home-sticky picture2"> 
    </div>



  </body>




  </html>