<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900italic' rel='stylesheet' type='text/css'>
     <link href="/style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>Penn Open Source</title>
    <script>
      
      $(document).ready(function(e){ 
          $('.project').hover( 
            function () {
                  $(this).find('.app_description').fadeIn('fast');
              },
            function () {
                  $(this).find('.app_description').fadeOut('fast');
            })
          $('.view').hover(
             function () {
                  $(this).toggleClass('view-background');
             }
            )

    });

    </script>



  </head>

  <body>


<div id="person-banner">

 <p> Hey! <%= person %> </p>
 PSIH Loves you. 


</div>


<div id="container">


    <% fuzzies.forEach(function(fuzzy, index){ %>
  
              <div class="sticky">
                    <p> <%= fuzzy.text %>  </p>
                    <p> <%= fuzzy.author %> </p>

               </div>


        <% }); %> 
  </div>

  </body>


  </html>